@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

a {
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.screen-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    transform: translateY();
    justify-content: center;
    /* overflow-x: scroll; */
}

.screen-content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1.5fr 100vw 1fr;
}

.bg-pack img {
    width: 100vw;
}

.pack-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pack-1-time {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
}

.pack-1-date {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.pack-2 {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin-inline: auto;
    width: 100vw;
    display: grid;
    place-items: center;
}

.pack-3 {
    padding: 0 2rem;
    font-weight: 500;
    text-align: center;
    display: grid;
    place-items: center;
}

.pack-4 {
    display: grid;
    width: 100vw;
    font-weight: 700;
    font-size: 1.25rem;
    margin-inline: auto;
}

.pack-4-thought-author {
    display: grid;
    place-items: center;
}

.pack-5-temp {
    height: 200px;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    padding: 3.5rem 0 0 0;
    transform: translateX(17px);
}

.actual-temp {
    font-size: 5rem;
    font-weight: 600;
}

.celsius-1 {
    font-size: 2rem;
    font-weight: 600;
    transform: translateY(10px);
}

.pack-5-text {
    text-align: center;
    font-weight: 500;
    margin-top: 35px;
}

.pack-7 {
    padding-top: calc((200px - 73px)/2);
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.tagline {
    transform: translateY(-5px);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.footer {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    left: 0;
    right: 0;
    margin-inline: auto;
}